 <div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<th>ID</th>
			<th>Title</th>
		</thead>
		<tbody class="streamRow"></tbody>

		{{#table}}
		<tr id="{{id}}">
			<td>{{id}}</td>
			<td>{{title}}</td>
		</tr>
		{{/table}}
	</table>
</div>